.prize-banner-box {
  width: calc(100% - 100px);
  max-height: calc(100% - 200px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.prize-item {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100%;
    max-width: 100%;
  }
}