.prize-banner-box {
  width: calc(100% - 100px);
  max-height: calc(100% - 200px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.img-box {
  height: 400px;
  img {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
.name-box {
  background-color: #506b9e;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #fff;
}